snippet stdio "stdio header"
#include <stdio.h>

endsnippet

snippet hd "file head"
// /usr/bin/gcc
// --- coding: utf-8 ---
// File Name:     `!v expand("%")`
// Author:        Kinnariya
// Created Time:  `!v strftime("%Y-%m-%d  %H:%M:%S")`
// Last Modified: <none>-<none>
endsnippet
